.pay {

  padding-top: 46px;
  padding-bottom: 74px;


  .van-nav-bar .van-icon {
    color: #FDDB3A;
  }

  .van-nav-bar__text {
    color: #FDDB3A;
  }

  .select-address {
    background-color: #fff;
    border-radius: 10px;
    margin: 8px;
    padding: 10px;
    font-size: 14px;
  }

  .user-info {
    display: flex;
    line-height: 19px;
  }

  .user-box {
    margin-top: 20px;
  }

  .user-name {
    color: #FDDB3A;
    margin-right: 20px;
  }

  .detail-address {
    margin-top: 10px;
    color: #999;
  }

  .arrow {
    position: relative;
    top: 2px;
    margin-left: 5px;
  }

  .pro-box {
    margin: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #fff;
    padding: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

  }

  .info-title {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .cell-item-box {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .check-box {
    width: 20px;
    height: 20px;
    margin-top: 30px;
  }

  .pro-info-box {
    height: 80px;
  }

  .pro-img {
    width: 80px;
    height: 80px;
    background-color: #ddd;
  }

  .pro-info {
    width: calc(~"100% - 90px");
    margin-left: 10px;
  }

  .names {
    line-height: 16px;
  }

  .pro-info-text {
    height: 50px;
  }

  .pro-count-box {
    height: 30px;
  }

  .pro-enname {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
  }

  .pro-name {
    font-size: 14px;
    margin-right: 15px;
  }

  .pro-rule {
    font-size: 12px;
    color: #999;
  }

  .pro-price {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    line-height: 30px;
  }

  .step-box {
    line-height: 30px;
    font-size: 12px;
    margin-right: 30px;
  }

  .cell-list {
    padding-bottom: 20px;
    border-bottom: 1px dashed #e8e8e8;

  }

  .bottom-into {
    padding-top: 20px;
    font-size: 14px;
    position: relative;
  }

  .total {
    color: #000;
    font-weight: bold;
  }


  .circle {
    position: absolute;
    left: 0;
    top: -10px;
    width: 100%;
    height: 20px;
  }

  .circle-box {
    width: 20px;
    height: 20px;
    background-color: #f7f7f7;
    border-radius: 50%;
  }

  .circle-left {
    position: relative;
    left: -20px;
  }

  .circle-right {
    position: relative;
    right: -20px;
  }

  .van-button--danger {
    background-color: #FDDB3A;
    border-color: #FDDB3A;
  }


  .van-address-item {
    border-bottom: 1px solid #e8e8e8;

    &:last-child {
      border-bottom: none;
    }
  }

  .van-address-item .van-radio__icon--checked .van-icon {
    background-color: #FDDB3A;
    border-color: #FDDB3A;
  }

  .van-tag--danger {
    background-color: #FDDB3A;
  }

  .van-icon-edit {
    display: none;
  }

  .address-title {
    padding-left: 20px;
    padding-top: 20px;
  }

  .btn-box {
    position: fixed;
    background-color: #fff;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: calc(~"100% - 20px");
  }

  .default-address {
    font-size: 12px;
    background-color: #FDDB3A;
    color: #fff;
    width: 40px;
    text-align: center;
    height: 20px;
    line-height: 21px;
    border-radius: 10px;
    margin-left: 20px;
  }
}